body {
  font-family: Arial;  
  background-image:url("https://media.istockphoto.com/id/1474465112/vector/music-equalizer-on-dark-blue-background.jpg?s=612x612&w=0&k=20&c=VyBQlASPj3xiJSlF-2qK34L0wpE4UitD98zF71boJ60=");
  color: #fff;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.player {
  background: #333;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.controls button {
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
}

.progress-container, .volume-container {
  margin: 15px 0;
}

#progress, #volume {
  width: 80%;
}

#playlist {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

#playlist li {
  padding: 5px;
  cursor: pointer;
}

#playlist li.active {
  background: #555;
}
